body {
    font-family: "Open Sans", sans-serif;
}

/* header related style */
.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.main-colour {
    color: #ff6f00;

}

.btn-primary {
    background-color: #ff6f00;
    border-radius: 5px;
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 25px;
    padding: 15px 35px;
}

.btn-primary-exceptional {
    border: 1px solid #ff6f00;
    border-radius: 5px;
    color: #ff6f00;
    font-weight: 700;
    font-size: 25px;
    padding: 15px 35px;
    background-color: #fff8f3;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: #302f2f;
}

/* header related style */
.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
    padding-right: 50px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-description {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* banner style done  */
/* About section style  */
.About {
    background-color: #fff8f3;
    border: none;
    border-radius: 10px;
    margin: 130px 0;
    padding: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-inf {
    text-align: center;
}

.inf-title {
    font-weight: 400;

}

/* what I do related skills */
#what-i-do {
    padding: 10px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    background-color: white;
}

/* Resume section style */
.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.item-description,
.item-info {
    color: #757575;
    margin-top: 0%;
}

.item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1px;
}

.cv-download {
    text-align: center;
    margin: 50px;
}

.resume-item {
    /* Group 22 */
    width: 511px;
    height: 175px;
    left: 230px;
    right: 859px;
    top: 2604px;
    bottom: 1477px;
}

/* footer related style  */
footer {
    display: flex;
    background: rgb(255, 248, 243);
    padding: 130px 130px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column {
    width: 50%;
    text-align: left;
}

.f-section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;

}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    width: 461px;
    height: 20px;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.social-links a {
    margin-left: 24px;
}